/* CSS styling taken from Blueprint CSS library and http://railstutorial.org/chapters/filling-in-the-layout */

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: center;
  background-color: white;
  padding: 0;
  white-space: nowrap;
  width: auto;
  height: 36px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  width:160px;
  background:#D0D0D0;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color:#780000;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
  background:#a2b3a1;
  color:#000
}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

div#wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div#wrapper0{
  clear: both;
}

div#wrapper1 {
  clear: both;
  border-style: dotted;
  border-width: 0px;
  border-top-width: 1px;
  border-color: grey;
 
  margin-top: 200px;
  padding-top: 20px;
}

div#logo {
  margin-top: 30px;
  margin-bottom: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div#logo2 {
  float: left;
  margin-left: -7px;
  margin-top: 30px;
  margin-bottom: 5px;
} 

div#linkbar {
  float: right;
  margin-top: 58px;
}
div#sign{
  position: relative; 
  top: 30px;
    
  width: 400px;

  text-align: center;  
  color: white;
  font-size: 16px;
   
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(100,0,0)),
        color-stop(0.53, rgb(150,0,0)),
        color-stop(0.77, rgb(200,0,0))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(100,0,0) 6%,
        rgb(150,0,0) 53%,
        rgb(200,0,0) 77%
    );

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

div#sign h2 
{
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
  font-weight: bold;
  color: white;
}

div#sign a
{
  color:  #7FFF00;
}

div#left
{
  width: 400px;
  float: left;
}

div#right
{
  width: 400px;
  float: right;
}

div#bottom
{
  clear: both;
}


