div#wrapper
{
  width: 800px;
  margin-left: auto;
  margin-right: auto; 
}

a:link, a:active, a:visited, a:hover
{
  color: #000000;
  text-decoration: none;
}

div#top
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div#middle
{
  width: 800px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  background-image:url('/images/MortarBoard.jpg');
}

a div#students
{
  margin-top: 75px;
  margin-left: 125px;
  text-align: center;
  float: left;
  width: 225px;
  height: 80px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(150,0,0)),
        color-stop(0.53, rgb(187,0,0)),
        color-stop(0.77, rgb(224,0,0))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(150,0,0) 6%,
        rgb(187,0,0) 53%,
        rgb(224,0,0) 77%
    );

  color: white;  

  font-size: 36px;

  -moz-border-radius: 20px;
  border-radus: 20px;
  -webkit-border-radius: 20px;

  border-style: solid;
  border-width: 2px;
  border-color: white;

}

a div#professors
{
  margin-top: 75px;
  margin-right: 125px;
  text-align: center;
  float: right;
  width: 225px;
  height: 80px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(150,0,0)),
        color-stop(0.53, rgb(187,0,0)),
        color-stop(0.77, rgb(224,0,0))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(150,0,0) 6%,
        rgb(187,0,0) 53%,
        rgb(224,0,0) 77%
    );

  color: white;

  font-size: 36px;

  -moz-border-radius: 20px;
  border-radus: 20px;
  -webkit-border-radius: 20px;

  border-style: solid;
  border-width: 2px;
  border-color: white;

}

a:hover div#students
{
  margin-top: 75px;
  margin-left: 125px;
  text-align: center;
  float: left;
  width: 225px;
  height: 80px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(224,0,0)),
        color-stop(0.53, rgb(187,0,0)),
        color-stop(0.77, rgb(150,0,0))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(224,0,0) 6%,
        rgb(202,0,0) 53%,
        rgb(180,0,0) 77%
    );

  color: white;  

  font-size: 36px;

  -moz-border-radius: 20px;
  border-radus: 20px;
  -webkit-border-radius: 20px;

  border-style: solid;
  border-width: 2px;
  border-color: white;
}

a:hover div#professors
{
  margin-top: 75px;
  margin-right: 125px;
  text-align: center;
  float: right;
  width: 225px;
  height: 80px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(224,0,0)),
        color-stop(0.53, rgb(187,0,0)),
        color-stop(0.77, rgb(150,0,0))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(224,0,0) 6%,
        rgb(202,0,0) 53%,
        rgb(180,0,0) 77%
    );

  color: white;

  font-size: 36px;

  -moz-border-radius: 20px;
  border-radus: 20px;
  -webkit-border-radius: 20px;

  border-style: solid;
  border-width: 2px;
  border-color: white;
}

div#top 
{
  margin: 30px;
}

div#info 
{  
  width: 800px;

  clear: both;
  position: relative;
  top: 100px;

  padding: 10px 25px 10px 25px;

  text-align: center;
  
  background-color: white;
  color: black;
  
  border-color: grey;
  border-style: solid;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 4px;
  border-bottom-width: 4px; 
}

div.button
{
  margin-top: 15px ;
}
