<h1>Editing User</h1>


<% if User.find(remember_token[0]).usertype == 0 %>
<%= render 'form0' %>
<% else %>
<%= render 'form1' %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', user_profile_path(remember_token[0] %>
